{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/site_media/css/textPage.css" type="text/css" media="screen" />

{% endblock %}


{% block bodyid %}waiting{% endblock %}


{% block bodycontent %}
<div class="fullBox">
	<div class="fullHeading">
		{{ parameters.heading }}		
	</div>
	<div class="fullBody">
		{{ parameters.body }}
	</div>
</div>
<div class="continueButton">
	<a href="/session/drive/?sid={{ sid }}&pname={{ pname }}"><input type="button" name="buttonLabel" value="{{ parameters.buttonLabel }}" class="buttonBig"></a>
</div>



{% endblock %}