/* Reciprocal Exchange (rex)  */

#actionArea, #bottomBar{
	float:left;
	width:650px;
}

#actionArea{
	background:#FFF;
	border-bottom:1px dotted #CCC;
	padding:10px;
	text-align:center;
	
	/*Min Height Hack - http://www.dustindiaz.com/min-height-fast-hack */
	min-height:370px;
	height:auto !important;
	height:370px;
}

#bottomBar{
	background:#FFF;
	padding:10px;
	
	/*Min Height Hack - http://www.dustindiaz.com/min-height-fast-hack */
	min-height:209px;
	height:auto !important;
	height:209px;
}

#rightCol{
	float:right;
	width:279px;
	background:#FFF;
	border-left:1px dotted #CCC;
	padding:10px;
	
	
	/*Min Height Hack - http://www.dustindiaz.com/min-height-fast-hack */
	min-height:600px;
	height:auto !important;
	height:600px;
}

.PromptText{
	
}

.ParticipantsLabel{
	
}

.AmountLabel{
	
}

.rexOfferTable{
	
}

#currentPointsBox{
	float:left;
	margin:30px 60px 30px 180px;
}

#cumulativePointsBox{
	float:left;
	margin:30px;
}

.largePoints{
	font-size:5em;
	text-align:center;
}

.WaitingText{
	
}

.AcceptText{
	
}

.AcceptText{
	font-size:2.5em;
	margin-bottom:30px;
}

.AcceptButtonLabel a{
	clear:both;
	float:right;
	margin-right:200px;
	margin-top:100px;
	font-size:1.75em;
}

.receivedOfferBox{
	text-align:center;
	font-size:1.75em;
	clear:both;
}

.receivedFromImage{
	float:left;
	margin-right:15px;
	margin-left:100px;

	
}

.receivedFromImage img{
	height:50px;
}

.receivedFromText{
	float:left;
	margin-top:10px;
}

.receivedAmount{
	
}

.offerFormulationError{
	color: #F00;
	position:absolute;
	margin:.6em;
}


/*

XY Value preview dialog

*/
#valuePreviewDialog{
	display:none;
}

.valuePreviewDialog .ui-dialog,
.valuePreviewDialog.ui-dialog {
	background-color: #e6f7d4;
}

.valuePreviewDialog .ui-dialog .ui-dialog-titlebar,
.valuePreviewDialog.ui-dialog .ui-dialog-titlebar {
	border-bottom: 1px solid #d8d2aa;
	background: #ff9900;
	padding: 0px;
	cursor: move;
	height: 28px;
	_height: 29px;
}

.valuePreviewDialog .ui-dialog .ui-dialog-titlebar-close,
.valuePreviewDialog.ui-dialog .ui-dialog-titlebar-close {
	width: 16px;
	height: 16px;
	position:absolute;
	top: 6px;
	right: 7px;
	cursor: default;
}

.valuePreviewDialog .ui-dialog .ui-dialog-titlebar-close-hover,
.valuePreviewDialog.ui-dialog .ui-dialog-titlebar-close-hover {
}

.valuePreviewDialog .ui-dialog .ui-dialog-title,
.valuePreviewDialog.ui-dialog .ui-dialog-title {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
}

.valuePreviewDialog .ui-dialog .ui-dialog-content,
.valuePreviewDialog.ui-dialog .ui-dialog-content {
	margin: 1.2em;
}

.valuePreviewDialog .ui-dialog .ui-dialog-buttonpane,
.valuePreviewDialog.ui-dialog .ui-dialog-buttonpane {
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 100%;
	text-align: right;
}

.valuePreviewDialog .ui-dialog .ui-dialog-buttonpane button,
.valuePreviewDialog.ui-dialog .ui-dialog-buttonpane button {
	margin: 6px;
}

