body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin:0;
	margin-top:10px;
	padding:0;
	background-color:#DDD;
}

#adminBox {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;

	
}

#adminBoxContent{
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	border-bottom:1px solid #CCC;
	margin-top:-17px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}

#experiment,
#waiting, 
#editor, 
#admin, 
#running, 
#experiments, 
#monitor {
	width:970px;
	height:650px;
	border: 1px solid #CCC;
	margin-left:auto;
	margin-right:auto;
	background-color:#EEE;
}

#waiting #verticalCenter{
	text-align:center;
	margin-top:200px;
}

#waiting h1 {
	margin-bottom:80px;
}

#login {
	position: relative;
	width: 325px;
	margin-left:auto;
	margin-right:auto;
}

#login label {
	font-size:.8em;
	font-weight:bold;
}

#login .input {
	font-size: 2em;
	margin-top: 6px;
	width: 250px;
	padding:6px;
}

.buttonBig {
	border: 1px solid #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	width:100px;
	height:2.5em;
}

.buttonBig:active {
border: 2px solid #CCCCCC;
border-top-color: #999999;
border-left-color: #999999;
}



/* Tabs  */

ul#tabnav { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 1em 0 1em 0; /* set margins as desired */
	font: 16px verdana, arial, sans-serif; /* set font as desired */
	border-bottom: 1px solid #ccc; /* set border COLOR as desired */
	list-style-type: none;
	padding: 3px 0px 3px 0px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
	display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4, body#tab5 li.tab5 { /* settings for selected tab */
	border-bottom: 1px solid #eee; /* set border color to page background color */
	background-color: #eee; /* set background color to match above border color */
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a, body#tab5 li.tab5 a{ /* settings for selected tab link */
	background-color: #EEE; /* set selected tab background color as desired */
	color: #000; /* set selected tab link color as desired */
	position: relative;
	top: 1px;
	padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #ccc; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #ddd; /* set unselected tab background color as desired */
	color: #000; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

/* end css tabs */