{% extends "adminBase.html" %}

{% block bodyid %}tab3{% endblock %}

{% block sectionDivID %}components{% endblock %}

{% block adminContent %}
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/yav.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.yav.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.tablesorter.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.impromptu.1.0.js"></script>

<script type="text/javascript" charset="utf-8">
	// prepare the form when the DOM is ready 
	$(document).ready(function() { 
		
		$(".slideToggler").click(function(){
			$('.createNewThing').slideToggle(500);
			return false;
		});
		$("#createNewForm").yav({
			errorClass:"error",
			errorTag:"p",
			errorPosition:"after"			
		},{
			inputclasserror: "fieldError",
		});
		
		$("#componentsTable").tablesorter({widgets: ['zebra']});
		
		//Require a confirm step for deleting
		$(".deleteLink").click(function(){
			msg  = 'Are you sure you want to delete this component?';
			msg += '<input type="hidden" value="'+this.id+'" id="itemID"/>';
			msg += '<input type="hidden" value="'+this.href+'" id="itemHref"/>';
			$.prompt(msg, { buttons: { Yes: "Yes", No: "No" }, 
							callback: deleteItem, 
							show:"fadeIn",
							container: "html",
							opacity: 0.8,
							overlayspeed: "fast"
							});
			return false;
		});
		
		function deleteItem(buttonValue, msg){
			if(buttonValue == "No"){
				return;
			} else {
				itemID = msg.children('#itemID').val();
				itemHref = msg.children('#itemHref').val();
				$.ajax({url: itemHref, success:function(){
					location.reload();
				}});
			}
		}
	});

</script>
<h1>Components</h1>
<div class="helpText"> 
<p>Components are the building blocks of experiments. There are two generic
component types: questionnaires and reciprocal exchanges. You can create new
components with the link below or by duplicating an existing component.</p>
</div>
<p><a href="#" class="slideToggler">Create a new component</a></p>
<div class="createNewThing">
	<form action="/components/create/" method="post" accept-charset="utf-8" id="createNewForm">
		<p><label for="componentName">Component Name:<br/>
		<input type="text" name="componentName" value="" id="componentName" class="required" title="You must enter a name."></label></p>
		<p><label for="componentType">Component Type:<br/>
		<select name="componentType">
			{% for ct in componentTypes %}
				<option value="{{ ct.id }}">{{ ct.componentType }}</option>
			{% endfor %}
		</select></label></p>
		<p><input type="button" value="Cancel" class="buttonSmall slideToggler"/> <input type="submit" value="Create Component" class="buttonSmall"/></p>
	</form>	
</div>
<br/><br/>
<h3>Existing components table</h3>
<table class="experimentTable tablesorter" id="componentsTable">
	<thead>
	<tr><th>Name</th><th>Component Type</th><th>Last Modified</th><th>Actions</th></tr>
	</thead>
	<tbody>
	{% for c in components %}
	<tr id="row_{{ c.id }}">
		<td>{{ c.name }}</td>
		<td>{{ c.componentType }}</td>
		<td>{{ c.dateModified }}</td>
		<td><a href="/components/edit/?id={{ c.id }}">Edit</a> | <a href="/components/delete/?cid={{ c.id }}" class="deleteLink" id="{{ c.id }}">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
