{% extends "adminBase.html" %}

{% block bodyid %}tab1{% endblock %}

{% block sectionDivID %}dashboard{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/site_media/css/monitor.css" type="text/css" media="screen" />
<script src="/site_media/scripts/jquery/jquery.pack.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/scripts/jquery/json.js" type="text/javascript" ></script>
{% endblock %}

{% block adminContent %}
<script type="text/javascript" charset="utf-8">
var participants = new Array();
var componentCount = {{experimentComponents.count}};
var participantCount = 0;

$(document).ready(function() {
	updateMonitor();
	refreshInterval = setInterval("updateMonitor()", 2000);

});

function updateMonitor(){
	var options = 	{ url: "/sessions/monitor/updatePollProcess?sid={{monitorSession.id}}", 
						dataType: "json", 
						success: function(pollResponseJSON){
							// pollResponseJSON is an array of participant objects
							for(var i=0; i < pollResponseJSON.length; i++){
								//If we don't already know about the participant, add them
								if(!participants[pollResponseJSON[i].name]){
									addParticipant(pollResponseJSON[i]);
								}
								//update the participant's column
								updateParticipantStatus(pollResponseJSON[i]);
							}
						}
					}

	$.ajax(options);
}

function addParticipant(pObject){

	if(participantCount > 0 && participantCount % 4 == 0){
		$('#monitorTable').append('<div class="rowSeparator"></div>');
		$('.componentsCol:first').clone().appendTo('#monitorTable');
	}

	// Add the participant to local participants array
	participants[pObject.name] = pObject;
	participantCount++;
	
	// Concat HTML div
	var pDiv = "";
	pDiv += '<div class="participantCol monitorTableCol" id="' + pObject.name + '_col">';
	pDiv += '	<div class="monitorHeadBlock participantHeadBlock">';
	pDiv += '	<div class="participantNumber">' + (pObject.number+1) + '</div>';
	// pDiv += '		<img src="/site_media/images/icons/'+ (pObject.number+1) +'.png" alt="Participant Icon">';
	pDiv += '		<div class="participantInfo">';
	pDiv += '			Name: ' + pObject.name + '<br/>';
	pDiv += '			Identity Letter: ' + pObject.identityLetter + '<br/>';
	pDiv += '			Player Number: ' + (pObject.number+1) + '<br/>';
	pDiv += '			<a href="/sessions/monitor/bootParticipant/?pid='+ pObject.id +'&sid=57" class="deleteLink">Remove Participant</a>';	
	pDiv += '		</div>';
	pDiv += '	</div>';
	for(var i=0; i < componentCount; i++){
		pDiv += '<div class="monitorTableBlock participantBlock" id="' + pObject.name + '_'+ i +'"></div>';
	}
	pDiv += "</div>";
	
	// Append the new div to the Status Table
	$('#monitorTable').append(pDiv);
	
}

function updateParticipantStatus(pObject){
	// update current component block
	$('#'+ pObject.name + '_'+ pObject.currentComponent).text("Working...");
	
	// update the component blocks before the current component
	if(pObject.currentComponent > 0){
		for(var i=0;i<pObject.currentComponent;i++){
			$('#'+ pObject.name + '_'+ i).text("Done.");
		}
	}

}

</script>

<div id="breadCrumbs">
	<a href="/sessions">Sessions</a> » Monitoring {{ monitorSession.experiment_id.name }} (session {{ monitorSession.id }})
</div>
<h1>Monitor</h1>
<div id="changeSession">
	<form name="changeSession" action="/sessions/monitor/" method="get" id="changeSession">
		<p><label for="id">Change Session:<br>
		<select name="sid">
			{% for s in expSessions %}
			<option value="{{ s.id }}">
				{{ s.experiment_id.name }} (Session {{ s.id }})
			</option>
			{% endfor %}
		</select>
		</label><input class="buttonSmall" type="submit" value="Change »"></p>
	</form>
</div>
	<div id="sessionName">
		{{ monitorSession.experiment_id.name }}
	</div>
	<div id="sessionInfo">
		<p><strong>Session ID:</strong> {{ monitorSession.id }}</p>
		<p><strong>Status:</strong> {{ monitorSession.status.statusText }}</p>
	</div>
	{% if running %}
	<a href="/session/stop/?sid={{ monitorSession.id }}">Stop Session</a>
	{% else %}
	<a href="/session/start/?sid={{ monitorSession.id }}">Start Session</a>
	{% endif %}
	<h2>Status Table</h2>
	<div id="monitorTable">
		<div class="componentsCol monitorTableCol">
			<div class="monitorHeadBlock componentsHeadBlock">
				<div id="componentColHeadingText">
					Components
				</div>
			</div>
			{% for c in experimentComponents %}
				<div class="monitorTableBlock componentBlock">
					{{c.name}}<br/>
					({{c.componentType}})
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
