{% extends "adminBase.html" %}

{% block bodyid %}tab1{% endblock %}

{% block sectionDivID %}dashboard{% endblock %}

{% block adminContent %}
<div id="breadCrumbs">
	<a href="/dashboard">Dashboard</a> » Monitoring {{ monitorSession.experiment_id.name }} (session {{ monitorSession.id }})
</div>
<h1>Monitor</h1>
<div id="changeSession">
	<form name="changeSession" action="/dashboard/monitor/?id={{ e.id }}" method="get" id="changeSession">
		<p><label for="id">Change Session:<br>
		<select name="id">
			{% for s in expSessions %}
			<option value="{{ s.id }}">
				{{ s.experiment_id.name }} (Session {{ s.id }})
			</option>
			{% endfor %}
		</select>
		</label><input class="buttonSmall" type="submit" value="Change »"></p>
	</form>
</div>
	<div id="sessionName">
		{{ monitorSession.experiment_id.name }}
	</div>
	<div id="sessionInfo">
		<strong>Session ID:</strong> {{ monitorSession.id }}<br/>
		<strong>Status:</strong> {{ monitorSession.status.statusText }}<br/>
		<strong>Current participants:</strong><br/>
			{% for p in participants %}
				{{ p.name }}<br/>
			{% endfor %}
	</div>
	<a href="/session/start">Start Experiment</a>
{% endblock %}
