{% extends "adminBase.html" %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/interface_1.2/interface.js"></script>

<style type="text/css">

.indicator
{
	width: 16px;
	height: 16px;
	background-color: #FF9900;
	position: absolute;
	overflow: hidden;
	border: none;
}

.slider4
{
	width: 361px;
	height: 15px;
	background-image: url(images/slider_back.jpg);
	position:relative;
	border: 1px solid #000;
	clear:both;
}
#indicator1,
#indicator2,
#indicator3{
	background-image:url(images/indicator1.gif);
	background-color: #000;
	display: none;
}

.question{
	width:360px;
	margin-bottom:50px;
}

.leftScale{
	float:left;
}

.rightScale{
	float:right;
}

</style>

{% endblock %}

{% block bodyid %}tab2{% endblock %}

{% block sectionDivID %}editor{% endblock %}

{% block adminContent %}


<div class="question">
	<p>This is the question</p>
	<div class="slider4" id="sliderArea1">
		<div class="indicator" id="indicator1">&nbsp;</div>
	</div>
	<div class="leftScale">Not Much</div><div class="rightScale">Very Much</div>
</div>
<div class="question">
	<p>This is the question</p>
	<div class="slider4" id="sliderArea2">
		<div class="indicator" id="indicator2">&nbsp;</div>
	</div>
	<div class="leftScale">Not Much</div><div class="rightScale">Very Much</div>
</div>
<div class="question">
	<p>This is the question</p>
	<div class="slider4" id="sliderArea3">
		<div class="indicator" id="indicator3">&nbsp;</div>
	</div>
	<div class="leftScale">Not Much</div><div class="rightScale">Very Much</div>
</div>

<script type="text/javascript">
	$(document).ready(
		function()
		{
			$('#sliderArea1').Slider(
				{
					accept : '#indicator1',
					restricted: true,
					fractions : 20,
					values: [
						[0,0]
					]
				}
			);
			$('#sliderArea2').Slider(
				{
					accept : '#indicator2',
					restricted: true,
					fractions : 20,
					values: [
						[0,0]
					]
				}
			);
			$('#sliderArea3').Slider(
				{
					accept : '#indicator3',
					restricted: true,
					fractions : 20,
					values: [
						[0,0]
					]
				}
			);
			
			$("#sliderArea1").click( function() { $("#indicator1").css("display","inline"); } );
			$("#sliderArea2").click( function() { $("#indicator2").css("display","inline"); } );
			$("#sliderArea3").click( function() { $("#indicator3").css("display","inline"); } );
		}
	);
</script>
{% endblock %}
