{% extends "rex/rex_base.html" %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/heartbeat.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/getParams.js"></script>
{% endblock %}

{% block actionArea %}

<script type="text/javascript">
$(document).ready(function() {
		$.jheartbeat.set({
			url: "/rex/CheckAllOffered/?sid={{ sid }}&pname={{ pname }}",
			delay: 3000
		}, function () {
			var statusText = document.getElementById('HeartBeatDIV').innerHTML;
			if(statusText == "Ready"){
				location.href = "/rex/reconcile/?sid=" + $.getURLParam("sid") + "&pname=" + $.getURLParam("pname");
			}
			if(statusText == "Canceled"){
				location.href = "/session/booted/?sid=" + $.getURLParam("sid") + "&pname=" + $.getURLParam("pname");
			}			
		});
	});

</script>

	<div class="WaitingText">
		{{ parameters.WaitingTextValue }}
	</div>
	<p><img src="/site_media/images/indicatorSnakeLarge.gif" width="32" height="32" alt="IndicatorSnakeLarge"></p>

{% endblock %}

{% block rightCol %}{% endblock %}

{% block bottomBar %}bottomBar{% endblock %}