{% extends "rex/rex_base.html" %}


{% block actionArea %}
<div class="PromptText">
<p>{{ parameters.PromptTextValue }}</p>
</div>
<form action="/rexOffer/submit/?sid={{sid}}&pname={{pname}}" method="post" accept-charset="utf-8">
	<table class="rexOfferTable">
	  <tr>
	    <td rowspan="2"><div class="ParticipantsLabel">{{ parameters.ParticipantsLabelValue }}</div></td>
		{% for p in otherParticipants %}
			<td><input name="toParticipant" type="radio" value="{{ p.name }}" id="toParticipant"></td>
		{% endfor %}
	  </tr>
	  <tr>
		{% for p in otherParticipants %}
			<td><img src="{% cycle /site_media/images/shapes/circle-75.png,/site_media/images/shapes/diamond-75.png,/site_media/images/shapes/square-75.png,/site_media/images/shapes/triangle-75.png,/site_media/images/shapes/star-75.png %}" /></td>
			
		{% endfor %}
	  </tr>
	  <tr>
	    <td><div class="AmountLabel">{{ parameters.AmountLabelValue }}</div></td>
	    <td colspan="3"><input type="text" name="offerAmount" id="offerAmount" size="3"></td>
	  </tr>
	  <tr>
	    <td>&nbsp;</td>
	    <td colspan="3"><input type="submit" name="Submit" value="{{ parameters.SubmitLabelValue }}" class="buttonSmall"></td>
	  </tr>
	</table>
</form>
{% endblock %}

{% block rightCol %}{% endblock %}

{% block bottomBar %}

<div id="currentPointsBox">
	<p>{{ parameters.AvailablePoints }}</p>
	<div class="largePoints">
		{{ parameters.AvailablePointsValue }}
	</div>
</div>
<div id="cumulativePointsBox">
	<p>Cumulative Points: </p>
	<div class="largePoints">
		{{ cumulativePoints }}
	</div>
</div>

{% endblock %}