{% extends "expBase.html" %}

{% block extrahead %}
<script src="/site_media/scripts/jquery/jquery.pack.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/scripts/jquery/jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/scripts/jquery/jquery.alphanumeric.pack.js" type="text/javascript" ></script>
<script src="/site_media/scripts/jquery/json.js" type="text/javascript" ></script>


<script type="text/javascript" charset="utf-8">
	// Code to run after the page is completely loaded.
	$(document).ready(function() { 

	    // bind the submit event of all forms on the page. The server response will be
		// delivered to the processFormResponse() function.
	    $('form').submit(function() { 
	        $(this).ajaxSubmit({success: processFormResponse});
	        return false; 
	    });
		
		// Bind the input fields of the offerFormulation screen
		// Updates the "This deal would get you" number on the offerFormulation screen
		$('.offerFormulationInputs').numeric();
		$(".offerFormulationInputs").keyup(function(){
			offer = $("#offerFormulationOffer").val();
			request = $("#offerFormulationRequest").val();
			$("#offerFormulationPoints").html(offer * request);
		});
		
		// Start polling server to check for opponents
		pollServer("/nex/checkForOpponentPollProcess/?sid={{sid}}&pname={{pname}}&opponentName={{opponentName}}&exchangeComponentID={{exchangeComponentID}}", 2000);
	});
	
	// Each screen contains a form that submits the user's input to the server.
	// This function processes the server's response and updates the page accordingly.
	function processFormResponse(responseText){
		// responseText the response returned by the server. It is JSON formatted.
		// Note: parseJSON() is not jQuery, rather it's in json.js from json.org
		responseJSON = responseText.parseJSON();
		
		// exchangeParametersJSON contains the contents of the Nex component object
		exchangeParametersJSON = '{{exchangeParametersJSON}}'.parseJSON();

		// Processor is a reference to the django view that processed the form.
		// The switch excecute certain lines of javascript depending the processor.
		switch( responseJSON['processor'] ){
			case "makeOfferButton":
				showScreen(responseJSON['showScreen']);
				break;
			// There will be more cases for each processor
		}
		
		// If the server set poll to true, start polling on the given url and interval
		if(responseJSON['poll']){
			pollServer(responseJSON['url'],responseJSON['interval']);
		}
		return;
	}
	
	// This function polls the server
	function pollServer(url, interval){		
		$.getJSON(url, function(responseJSON){
			processPoll(url, interval, responseJSON);
			}
		)
		return;
	}
	
	// This function handles the response after each pole query.
	function processPoll(url, interval, responseJSON){
		pollURL = url;
		pollInterval = interval;
				
		// If continuePolling is true, poll the server again after waiting
		if(responseJSON['continuePolling']){
			setTimeout("pollServer(pollURL, pollInterval)", interval);			
		} else {
			// Processor is a reference to the django view that processed the poll request.
			// The switch excecute certain lines of javascript depending the processor.
			switch( responseJSON['processor'] ){
				case "checkForOpponentPollProcess":
					showScreen(responseJSON['showScreen']);
					break;
				// There will be more cases for each processor
			}
		}
		return;
	}
	
	// This function displays only the specified screen. screenName should be the the div ID
	// of the desired screen.
	function showScreen(screenName){
		// Turn off all the screens
		$(".exchangeScreen").css("display", "none");
		// turn on the specified screen
		$("#" + screenName).css("display", "block");
		return;
	}

</script>

{% endblock %}

{% block actionArea %}
<div id="checkForOpponent" class="exchangeScreen">
	<br/><br/><br/><br/>
	<h1>You are about to exchange with Player {{opponentIdentity}}</h1>
	<br/><br/><br/><br/>
	<h3>Please wait...</h3>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
</div>
<div id="makeOfferButton" style="display:none;" class="exchangeScreen">
	<br/><br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/><br/><br/><br/>
	<form action="/nex/makeOfferButton/" method="post" accept-charset="utf-8">
		<input type="hidden" name="sid" value="{{sid}}"/>
		<input type="hidden" name="pname" value="{{pname}}"/>
		<input type="hidden" name="opponentName" value="{{opponentName}}"/>
		<input type="hidden" name="exchangeComponentID" value="{{exchangeComponentID}}"/>
		<input type="submit" name="makeOfferButton" value="Make Offer" class="buttonBig"/>
	</form>
</div>
<div id="offerFormulation" style="display:none;" class="exchangeScreen">
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<form action="/nex/offerFormulation/" method="post" accept-charset="utf-8">
		<p>What will you give?</p>
		<p>
			<input type="text" name="offerFormulationOffer" id="offerFormulationOffer" class="offerFormulationInputs" value="" size="4" maxlength="4"/>
			<select name="offerCurrency">
				<option>x</option>
				<option>y</option>
			</select>
		</p>
		<p>What do you want in return?</p>
		<p>
			<input type="text" name="offerFormulationRequest" id="offerFormulationRequest" class="offerFormulationInputs" value="" size="4" maxlength="4"/>
			<select name="requestCurrency">
				<option>x</option>
				<option>y</option>
			</select>
		</p>
		<br/>
		<h3>This deal would get you <span id="offerFormulationPoints">0</span> points</h3>
		<input type="submit" name="makeOfferButton" value="Offer" class="buttonBig"/>
	</form>
	<div id="httpLoadText">
		
	</div>
</div>
<div id="counterOfferFormulation" style="display:none;" class="exchangeScreen">
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<form action="/nex/offerFormulationSubmit/" method="post" accept-charset="utf-8">
		<p>Player {{opponentIdentity}} offered you <strong>20 X</strong> for <strong>10 Y</strong>. This deal would get you 50 points.</p>
		<p>Enter your counter offer below.</p>
		<p>What will you give?</p>
		<p>
			<input type="text" name="offer" value="" size="4" maxlength="4"/>
			<select name="offerCurrency">
				<option>x</option>
				<option>y</option>
			</select>
		</p>
		<p>What do you want in return?</p>
		<p>
			<input type="text" name="request" value="" size="4" maxlength="4"/>
			<select name="requestCurrency">
				<option>x</option>
				<option>y</option>
			</select>
		</p>
		<h3>This counter offer deal would get you 75 points</h3>
		<input type="submit" name="makeOfferButton" value="Cancel" class="buttonBig"/>
		<input type="submit" name="makeOfferButton" value="Counter Offer" class="buttonBig"/>
	</form>
</div>
<div id="waitingScreen" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/>
	<h3>Please wait for player {{opponentIdentity}}</h3>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
	<p>
		<input type="button" name="makeOfferButton" value="Cancel" class="buttonBig"/>
	</p>
</div>
<div id="confirmCancel" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/>
	<p>Are you sure you want to cancel your offer?</p>
	<p>
		<input type="button" name="makeOfferButton" value="No" class="buttonBig"/> 
		<input type="button" name="makeOfferButton" value="Yes" class="buttonBig"/>
	</p>
</div>
<div id="incomingOffer" style="display:none;" class="exchangeScreen">
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/><br/>
	<p>Player {{opponentIdentity}} offered you <strong>20 X</strong> for <strong>10 Y</strong></p>
	<p>
		<input type="button" name="makeOfferButton" value="Accept" class="buttonBig"/> 
		<input type="button" name="makeOfferButton" value="Counter Offer" class="buttonBig"/>
		<input type="button" name="makeOfferButton" value="End Round" class="buttonBig"/>
	</p>
</div>
<div id="1" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/>
	<p>Are you sure you want to end this round of exchange?</p>
	<p>
		<input type="button" name="makeOfferButton" value="No" class="buttonBig"/> 
		<input type="button" name="makeOfferButton" value="Yes" class="buttonBig"/>
	</p>
</div>
<div id="nonBindingConfirmation" style="display:none;" class="exchangeScreen">
		<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/>
	<p>You accepted player {{opponentIdentity}}'s offer of <strong>12 X</strong> for <strong>10 Y</strong>.<br/>You will get 100 points for this deal.</p>
	<p>Do you want to follow through on your part of the deal<br/> and give 10 Y to player {{opponentIdentity}}?</p>
	<br/>
	<p>
		<input type="button" name="makeOfferButton" value="No" class="buttonBig"/> 
		<input type="button" name="makeOfferButton" value="Yes" class="buttonBig"/>
	</p>
</div>
<div id="transactionSummary" style="display:none;" class="exchangeScreen">
	<br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/>
	<p>You accepted player {{opponentIdentity}}'s offer of <strong>12 X</strong> for <strong>10 Y</strong>.</p>
	<p>You received 100 points for this deal.</p>
	<p>
		<input type="button" name="makeOfferButton" value="Continue" class="buttonBig"/> 
	</p>
</div>
<div id="nextRoundCountdown" style="display:none;" class="exchangeScreen">
	<h1>Starting next round shortly</h1>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
</div>
{% endblock %}

{% block rightCol %}{% endblock %}

{% block bottomBar %}

<div id="currentPointsBox">
	<p>Total X</p>
	<div class="largePoints">
		20
	</div>
</div>
<div id="cumulativePointsBox">
	<p>Total Y</p>
	<div class="largePoints">
		5
	</div>
</div>

{% endblock %}