{% extends "adminBase.html" %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/interface_1.2/interface.js"></script>

<style type="text/css">

.indicator
{
	width: 5px;
	height: 16px;
	background-color: #000;
	position: absolute;
	overflow: hidden;
	border: none;
}

.slider
{
	background-color: #FFF;
	width: 361px;
	height: 15px;
	position:relative;
	border: 1px solid #000;
	clear:both;
}


.question{
	width:360px;
	margin-bottom:50px;
}

.leftScale{
	float:left;
}

.rightScale{
	float:right;
}

</style>

{% endblock %}

{% block bodyid %}tab2{% endblock %}

{% block sectionDivID %}editor{% endblock %}

{% block adminContent %}


<div class="question">
	<p>This is the question</p>
	<div class="slider">
		<div class="indicator" id="indicator1">&nbsp;</div>
	</div>
	<div class="leftScale">Not Much</div><div class="rightScale">Very Much</div>
</div>
<div class="question">
	<p>This is the question</p>
	<div class="slider">
		<div class="indicator" id="indicator2">&nbsp;</div>
	</div>
	<div class="leftScale">Not Much</div><div class="rightScale">Very Much</div>
</div>
<div class="question">
	<p>This is the question</p>
	<div class="slider">
		<div class="indicator" id="indicator3">&nbsp;</div>
	</div>
	<div class="leftScale">Not Much</div><div class="rightScale">Very Much</div>
</div>

<script type="text/javascript">
	$(document).ready(
		function()
		{
			$('.slider').Slider(
				{
					accept : '.indicator',
					restricted: true,
					fractions : 50,
					values: [
						[0,0]
					]
				}
			);			
		}
	);
</script>
{% endblock %}
