{% extends "adminBase.html" %}
{% load multipleSelectSelector %} 
{% block extrahead %}
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>

<script type="text/javascript" src="/site_media/scripts/jquery/jquery.form.js"></script>
<script type="text/javascript" charset="utf-8">
	// prepare the form when the DOM is ready 
	$(document).ready(function() { 
	    var options = { 
	        target: '#message',   // target element to be updated with server response
	    };		
	    // bind to the form's submit event 
	    $('#componentForm').submit(function() { 
	        $(this).ajaxSubmit(options);
			$("#message").html("Component Saved");
			$('#message').fadeIn('3000');
			setTimeout("$('#message').fadeOut('3000');", 2000)
	        return false; 
	    });
		
		// When page loads, make sure we're showing the right options
		var checked = $("#randomPairingCheck").attr("checked");
		if(checked == true){
			$("#nonRandomPairing").toggleClass("displayNone");
			$("#randomPairing").toggleClass("displayNone");
		}
		
		// When the random checkbox is toggled, show the right options
		$("#randomPairingCheck").click( function() {
			$("#nonRandomPairing").toggleClass("displayNone");
			$("#randomPairing").toggleClass("displayNone");
		});
	});
</script>

{% endblock %}

{% block bodyid %}tab3{% endblock %}

{% block sectionDivID %}components{% endblock %}

{% block adminContent %}
<div id="breadCrumbs">
<a href="/components">Components</a> » {{ component.name }}
</div>

<h1>Editing {{ component.name }}</h1>
<form action="/matcher/submit/" method="post" accept-charset="utf-8" id="componentForm">
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Component Name: </th>
		<td><input type="text" name="componentName" value="{{ component.name }}" size="40" maxlength="200"/></td>
	</tr>
	<tr>
		<th>Component Description: </th>
		<td><textarea name="componentDescription" rows="2" cols="43">{{ component.description }}</textarea></td>
	</tr>
</table>

<h2>Pairings</h2>
<p>
	<input type="checkbox" name="randomPairingCheck" id="randomPairingCheck" {% if parameters.randomPairing %}checked="checked"{% endif %}/> 
	Randomize Pairing (Every player will play every other player and have a turn as decider against each player.)
</p>
<div id="nonRandomPairing">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<th>Player 1</th>
			<th>Player 2</th>
			<th>Decider</th>
			<th>Decider Choices</th>
			<th>Rounds</th>
		</tr>
		<tr>
			<td>
				<select name="pair1p1" id="pair1p1">
					<option value="0" {% ifequal parameters.pairing.0.0 "0" %}selected="selected"{% endifequal %}>1</option>
					<option value="1" {% ifequal parameters.pairing.0.0 "1" %}selected="selected"{% endifequal %}>2</option>
					<option value="2" {% ifequal parameters.pairing.0.0 "2" %}selected="selected"{% endifequal %}>3</option>
					<option value="3" {% ifequal parameters.pairing.0.0 "3" %}selected="selected"{% endifequal %}>4</option>								
					<option value="4" {% ifequal parameters.pairing.0.0 "4" %}selected="selected"{% endifequal %}>5</option>								
					<option value="5" {% ifequal parameters.pairing.0.0 "5" %}selected="selected"{% endifequal %}>6</option>								
					<option value="6" {% ifequal parameters.pairing.0.0 "6" %}selected="selected"{% endifequal %}>7</option>								
					<option value="7" {% ifequal parameters.pairing.0.0 "7" %}selected="selected"{% endifequal %}>8</option>								
					<option value="8" {% ifequal parameters.pairing.0.0 "8" %}selected="selected"{% endifequal %}>9</option>								
					<option value="9" {% ifequal parameters.pairing.0.0 "9" %}selected="selected"{% endifequal %}>10</option>								
					<option value="10" {% ifequal parameters.pairing.0.0 "10" %}selected="selected"{% endifequal %}>11</option>								
					<option value="11" {% ifequal parameters.pairing.0.0 "11" %}selected="selected"{% endifequal %}>12</option>								
				</select>
			</td>
			<td>
				<select name="pair1p2" id="pair1p2">
					<option value="0" {% ifequal parameters.pairing.0.1 "0" %}selected="selected"{% endifequal %}>1</option>
					<option value="1" {% ifequal parameters.pairing.0.1 "1" %}selected="selected"{% endifequal %}>2</option>
					<option value="2" {% ifequal parameters.pairing.0.1 "2" %}selected="selected"{% endifequal %}>3</option>
					<option value="3" {% ifequal parameters.pairing.0.1 "3" %}selected="selected"{% endifequal %}>4</option>								
					<option value="4" {% ifequal parameters.pairing.0.1 "4" %}selected="selected"{% endifequal %}>5</option>								
					<option value="5" {% ifequal parameters.pairing.0.1 "5" %}selected="selected"{% endifequal %}>6</option>								
					<option value="6" {% ifequal parameters.pairing.0.1 "6" %}selected="selected"{% endifequal %}>7</option>								
					<option value="7" {% ifequal parameters.pairing.0.1 "7" %}selected="selected"{% endifequal %}>8</option>								
					<option value="8" {% ifequal parameters.pairing.0.1 "8" %}selected="selected"{% endifequal %}>9</option>								
					<option value="9" {% ifequal parameters.pairing.0.1 "9" %}selected="selected"{% endifequal %}>10</option>								
					<option value="10" {% ifequal parameters.pairing.0.1 "10" %}selected="selected"{% endifequal %}>11</option>								
					<option value="11" {% ifequal parameters.pairing.0.1 "11" %}selected="selected"{% endifequal %}>12</option>								
				</select>
			</td>
			<td>
				<input type="radio" {% ifequal parameters.pairing.0.2 "0" %} checked="checked"{% endifequal %} name="pair1decider" value="0" />None<br/>
				<input type="radio" {% ifequal parameters.pairing.0.2 "1" %} checked="checked"{% endifequal %} name="pair1decider" value="1"/>P1<br/>
				<input type="radio" {% ifequal parameters.pairing.0.2 "2" %} checked="checked"{% endifequal %} name="pair1decider" value="2" />P2
			</td>
			<td>
				<select multiple="multiple" size="6" name="pair1ComponentChoices">
					{% for c in componentList %}
						<option value="{{c.id}}" {% multipleSelectSelector parameters.pair1ComponentChoices c.id %}>{{c.name}} ({{c.componentType}})</option>
					{% endfor %}
				</select>
			</td>
			<td><input type="text" name="pair1rounds" value="{{parameters.pair1rounds}}" size="2" maxlength="2"/></td>
		</tr>
	</table>
</div>
<div id="randomPairing" class="displayNone">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<th>Decider Choices</th>
			<th>Rounds</th>
		</tr>
		<tr>
			<td>
				<select multiple="multiple" size="6" name="randomComponentChoices">
					{% for c in componentList %}
						<option value="{{c.id}}" {% multipleSelectSelector parameters.randomComponentChoices c.id %}>{{c.name}} ({{c.componentType}})</option>
					{% endfor %}
				</select>
			</td>
			<td><input type="text" name="randomRounds" value="{{parameters.randomRounds}}" size="2" maxlength="2"/></td>
		</tr>
	</table>
</div>

	
	<p><input type="hidden" name="comIM" value="{{ component.id }}"/><input type="submit" value="Save Changes" class="buttonSmall"/></p>
	<div id="message">

	</div>
</form>
{% endblock %}