{% extends "adminBase.html" %}

{% block bodyid %}tab2{% endblock %}

{% block sectionDivID %}archive{% endblock %}

{% block adminContent %}

<h1>Experiments</h1>

<table class="experimentTable">
	<thead>
	<tr><th>Date Created</th><th>Name</th><th>Actions</th></tr>
	</thead>
	{% for e in experiments %}
	<tr class="{% cycle row1,row2 %}">
		<td>{{ e.dateCreated }}</td>
		<td>{{ e.name }}</td>
		<td><a href="/experiments/view/?id={{ e.id }}">View</a> | <a href="/experiments/edit/?id={{ e.id }}">Edit</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
