{% extends "adminBase.html" %}

{% block bodyid %}tab1{% endblock %}

{% block sectionDivID %}dashboard{% endblock %}

{% block adminContent %}

<h1>Dashboard</h1>
<h2>Current experiment sessions</h2>
{% for e in expSessions %}
<div id="expSessions">
	<div id="sessionName">
		{{ e.experiment_id.name }}
	</div>
	<div id="sessionInfo">
		<strong>Session ID:</strong> {{ e.id }}<br/>
		<strong>Status:</strong> {{ e.status.statusText }}<br/>
		<a href='/session/join/?sid={{ e.id }}'>Join</a> | <a href='/dashboard/monitor/?sid={{ e.id }}'>Monitor</a>
	</div>
</div>
{% endfor %}

{% endblock %}
