{% extends "adminBase.html" %}

{% block bodyid %}tab3{% endblock %}

{% block sectionDivID %}editor{% endblock %}

{% block adminContent %}

<h1>Editor</h1>

<h3>Load an existing experiment</h3>

<form name="existingExperiment" action="/editor/edit" method="get" id="existingExperiment">
	<p><label for="id">Experiment:<br>
	<select name="id">
		{% for e in experimentList %}
		<option value="{{ e.id }}">
			{{ e.name }}
		</option>
		{% endfor %}
	</select>
	</label></p><input class="buttonSmall" type="submit" value="Load »">
</form>

<br/>

<h3>Create a new experiment</h3>

<form action="/editor/newExperiment/" method="post" accept-charset="utf-8">
	<p><label for="experimentName">Name:<br>
	<input type="text" name="experimentName" id="experimentName" class="inputSmall" value="" size="20" /></label></p>

	<p><label for="experimentDescription">Description:<br>
	<textarea rows="6" cols="40" name="experimentDescription" id="experimentDescription" ></textarea></label></p><input class="buttonSmall" type="submit" value="Create »">
</form>
<br/>

{% endblock %}
