{% extends "adminBase.html" %}

{% block extrahead %}
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/interface_1.2/interface.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.inplace.js"></script>

{% endblock %}

{% block bodyid %}tab2{% endblock %}

{% block sectionDivID %}editor{% endblock %}

{% block adminContent %}

<script type="text/javascript">
$(document).ready(
	function () {
		$('div.components').Sortable(
			{
				accept: 'component',
				helperclass: 'sortHelper',
				activeclass : 	'sortableactive',
				hoverclass : 	'sortablehover',
				handle: 'div.componentTopPane',
				tolerance: 'pointer',

			}
		);
		$(".editExpInput").editInPlace({
			url: "/api/updateField/",
			params: "ajax=yes"
		});
		$(".editExpDescription").editInPlace({
			url: "/api/updateField/",
			params: "ajax=yes",
			field_type: "textarea",
		    textarea_rows: "5",
		    textarea_cols: "35"
		});

	}
);

function saveComponentOrder (){
	list = $.SortSerialize("componentsList");
	$.post("/api/saveComponentChanges/", list);
	$("#orderSaveConfirm").html("Order Saved");
	$('#orderSaveConfirm').fadeIn('3000');
	setTimeout("$('#orderSaveConfirm').fadeOut('3000');", 2000)
}


</script>
<div id="breadCrumbs">
<a href="/experiments">Experiments</a> » <a href="/experiments/view/?id={{ expDetails.id }}">{{ expDetails.name }}</a> » Editing {{ expDetails.name }}
</div>
<h3>Experiment Name</h3>
<p class="editExpInput" id="name___{{ expDetails.id }}">{{ expDetails.name }}</p>
<h3>Experiment Description</h3>
<p class="editExpDescription" id="description___{{ expDetails.id }}">{{ expDetails.description }}</p>
<h3>Minimum Players</h3>
<p class="editExpInput" id="minPlayers___{{ expDetails.id }}">{{ expDetails.minPlayers }}</p>
<h3>Maximum Players</h3>
<p class="editExpInput" id="maxPlayers___{{ expDetails.id }}">{{ expDetails.maxPlayers }}</p>


<h3>Components</h3>
	<form action="/experiments/edit/addComponent/" method="post" accept-charset="utf-8"><p>
		<select name="addComponentID">
			<option value="">----</option>
			{% for c in componentList %}
			<option value="{{ c.id }}">
				{{ c.name }}
			</option>
			{% endfor %}
		</select>
		<input type="hidden" name="expID" value="{{ expID }}" id="expID">
		<input class="buttonSmall" type="submit" value="Add Component"></p>
	</form>
	
	<form action="/experiments/edit/updateExperiment/" method="post" accept-charset="utf-8">
	<div class="components" id="componentsList">
		{% for ec in experimentComponentsList %}
		<div id="component___{{ ec.id }}" class="component">
			<div class="componentTopPane">
				<div class="componentName">
					{{ ec.component_id.name }}
				</div>
				<div class="componentDelete">
					<a href="/experiments/edit/removeComponent/?expCompID={{ ec.id }}&expID={{ ec.experiment_id.id }}">Delete</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<p><input class="buttonSmall" type="submit" value="Save Order" onclick="saveComponentOrder(); return false;"></p>
	<div id="orderSaveConfirm"></div>
</form>
{% endblock %}
