{% extends "adminBase.html" %}

{% block bodyid %}tab1{% endblock %}

{% block sectionDivID %}dashboard{% endblock %}

{% block adminContent %}

<h1>Dashboard > Monitor</h1>
<div id="changeExperiment">
	<form name="changeExperiments" action="/dashboard/monitor/?id={{ e.id }}" method="get" id="changeExperiments">
		<p><label for="id">Change Experiment:<br>
		<select name="id">
			{% for e in experiments %}
			<option value="{{ e.id }}">
				{{ e.name }}
			</option>
			{% endfor %}
		</select>
		</label><input class="buttonSmall" type="submit" value="Change »"></p>
	</form>
</div>
<div id="experiments">
	<div id="experiment">
		<div id="experimentName">
			{{ monitorExperiment.name }}
		</div>
		<div id="experimentStatus">
			<strong>Status:</strong> {{ monitorExperiment.status.statusText }}
		</div>
		<div id="experimentParticipants">
			{{ monitorExperiment.participants }}<strong>Current participants:</strong> 0
		</div>
	</div>
</div>

{% endblock %}
