.widget{
	margin-bottom:20px;
}

.widget_label{
	text-align:center;
}

/* 

Timer

*/
.widget_timer{
	text-align:center;
}

.widget_timer_numbers{
	font-size:3em;
}

.widget_timer_text{
	
}


/* 

Image

*/
.widget_image{
	text-align:center;
}

.widget_image{
	max-width:279px;
	/* Hack for IE to respect max width*/
	width: expression(this.width > 279 ? 279: true);
}

/* 

Bank

*/
.widget_bank{
	text-align:center;
}

.widget_bank_label{

}

#widget_bank_points{
	font-size:3em;
	padding:5px;
}