{% extends "rex/rex_base.html" %}

{% block actionArea %}
<div class="AcceptText">
	{{ parameters.AcceptTextValue}}
</div>

{% for myOffer in myOffers %}

	<div class="receivedOfferBox">
		<div class="receivedFromImage">
			<img src="{% cycle /site_media/images/shapes/circle-75.png,/site_media/images/shapes/diamond-75.png,/site_media/images/shapes/square-75.png,/site_media/images/shapes/triangle-75.png,/site_media/images/shapes/star-75.png %}" />
		</div>
		<div class="receivedFromText">	
			offered you {{ myOffer.amount }} points.
		</div>
	</div>
	
{% endfor %}
<div class="AcceptButtonLabel">
	<a href="/session/drive/?sid={{ sid }}&pname={{ pname }}">{{ parameters.AcceptButtonLabelValue}}</a>
</div>
{% endblock %}

{% block rightCol %}{% endblock %}

{% block bottomBar %}
<div id="currentPointsBox">
	<p>{{ parameters.AvailablePoints }}</p>
	<div class="largePoints">
		--
	</div>
</div>
<div id="cumulativePointsBox">
	<p>Cumulative Points: </p>
	<div class="largePoints">
		{{ cumulativePoints }}
	</div>
</div>
{% endblock %}