{% extends "adminBase.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/site_media/css/rexnex.css" />

<script type="text/javascript" src="/site_media/scripts/jquery/jquery.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.alphanumeric.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/yav.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.yav.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.dimensions.pack.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.ui-1.0/ui.dialog.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.ui-1.0/ui.resizable.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.ui-1.0/ui.mouse.js"></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.ui-1.0/ui.draggable.js"></script>


<script type="text/javascript" charset="utf-8">
	// prepare the form when the DOM is ready 
	$(document).ready(function() { 

		$("#componentForm").yav({
			errorClass:"error",
			errorTag:"p",
			errorPosition:"after",
			onOk: function(){
				$('#componentForm').ajaxSubmit({target: '#message' });
				$('#message').fadeIn('3000');
				setTimeout("$('#message').fadeOut('3000');", 2000)
				return false; 
			}
			
		},{
			inputclasserror: "fieldError",
		});
		$("#dialogOpenerLink").bind("click", function(){
			$("#valuePreview").dialog({
				height:500, 
				width:500, 
				buttons:{
					close:function(){
						$("#valuePreview").dialogClose();
					}
				}
			});
		})
		
		$('.offerFormulationInputs').numeric();
		$('#refreshValues').click(function(){
			offerFormulationProcessInput();
		});
		$("#variableListToggle").click(function() {
			$("#possibleVariables").slideToggle(300);
			return false;
		});
		$("#valuePreviewToggle").click(function() {
			$("#valuePreview").slideToggle(300);
			return false;
		});
		
	});
	
	// Updates the "This deal would get you" number on the offerFormulation screen
	// Called on keyup of the input fields of the offerFormulation screen
	function offerFormulationProcessInput(){		
		// Clear the error if present
		$("#offerFormulationOfferError").html("");
		$("#offerFormulationRequestError").html("");
				
		// Set up all our working variables
		options = {
			whichPlayer: $('#whichPlayer').val(),
			offer: $("#offerFormulationOffer").val(),
			request: $("#offerFormulationRequest").val(),
			offerUnit: $("#offerFormulationOfferUnit").val(),
			requestUnit: $("#offerFormulationRequestUnit").val(),
			p1x: $("#p1x").val(),
			p2x: $("#p2x").val(),
			p1y: $("#p1y").val(),
			p2y: $("#p2y").val(),
			p1xValue: $("#p1xValue").val(),
			p2xValue: $("#p2xValue").val(),
			p1yValue: $("#p1yValue").val(),
			p2yValue: $("#p2yValue").val(),
			p1xMaxRequest: $("#p1xMaxRequest").val(),
			p1yMaxRequest: $("#p1yMaxRequest").val(),
			p2xMaxRequest: $("#p2xMaxRequest").val(),
			p2yMaxRequest: $("#p2yMaxRequest").val()
		}
		
		options['p1xValue'] = parseValueInput(options['p1xValue'], options);
		options['p1yValue'] = parseValueInput(options['p1yValue'], options);
		options['p2xValue'] = parseValueInput(options['p2xValue'], options);
		options['p2yValue'] = parseValueInput(options['p2yValue'], options);
		
		// If any of the value fields have errors, update the point value table and return
		if(options['p2yValue'] == "Error" || options['p2xValue'] == "Error" || options['p1yValue'] == "Error" || options['p1xValue'] == "Error"){
			$("#offerFormulationP1Points").html("ERROR");
			$("#offerFormulationP2Points").html("ERROR");
			return false;
		}
		
		// Calculate the current number of points held by the player this round
		p1InitialPoints = (options['p1x'] * options['p1xValue']) + (options['p1y'] * options['p1yValue']);
		p2InitialPoints = (options['p2x'] * options['p2xValue']) + (options['p2y'] * options['p2yValue']);
		
		// Error Check Offer input field
		if(options['offerUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['offer']) > parseInt(options['p1x'])) {
					$("#offerFormulationOffer").val(options['p1x']);
					options['offer'] = options['p1x'];
					$("#offerFormulationOfferError").html("You only have " + options['p1x'] + " " + options['offerUnit']);
				}
			} else {
				if(parseInt(options['offer']) > parseInt(options['p2x'])) {
					$("#offerFormulationOffer").val(options['p2x']);
					options['offer'] = options['p2x'];
					$("#offerFormulationOfferError").html("You only have " + options['p2x'] + " " + options['offerUnit']);
				}
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['offer']) > parseInt(options['p1y'])) {
					$("#offerFormulationOffer").val(options['p1y']);
					options['offer'] = options['p1y'];
					$("#offerFormulationOfferError").html("You only have " + options['p1y'] + " " + options['offerUnit']);
				}
			} else {
				if(parseInt(options['offer']) > parseInt(options['p2y'])) {
					$("#offerFormulationOffer").val(options['p2y']);
					options['offer'] = options['p2y'];
					$("#offerFormulationOfferError").html("You only have " + options['p2y'] + " " + options['offerUnit']);
				}
			}
		}

		
		// Error Check Request input field
		if(options['requestUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['request']) > parseInt(options['p1xMaxRequest'])) {
					$("#offerFormulationRequest").val(options['p1xMaxRequest']);
					options['request'] = options['p1xMaxRequest'];
					$("#offerFormulationRequestError").html("You only have " + options['p1xMaxRequest'] + " " + options['requestUnit']);
				}
			} else {
				if(parseInt(options['request']) > parseInt(options['p2xMaxRequest'])) {
					$("#offerFormulationRequest").val(options['p2xMaxRequest']);
					options['request'] = options['p2xMaxRequest'];
					$("#offerFormulationRequestError").html("You only have " + options['p2xMaxRequest'] + " " + options['requestUnit']);
				}
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['request']) > parseInt(options['p1yMaxRequest'])) {
					$("#offerFormulationRequest").val(options['p1yMaxRequest']);
					options['request'] = options['p1yMaxRequest'];
					$("#offerFormulationRequestError").html("You only have " + options['p1yMaxRequest'] + " " + options['requestUnit']);
				}
			} else {
				if(parseInt(options['request']) > parseInt(options['p2yMaxRequest'])) {
					$("#offerFormulationRequest").val(options['p2yMaxRequest']);
					options['request'] = options['p2yMaxRequest'];
					$("#offerFormulationRequestError").html("You only have " + options['p2yMaxRequest'] + " " + options['requestUnit']);
				}
			}
		}
		
		// Calculate the loss from offering
		if(options['offerUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				p1Loss = options['offer'] * options['p1xValue'];
				p2Loss = options['request'] * options['p2xValue'];
				
			} else {
				p1Loss = options['request'] * options['p1xValue'];
				p2Loss = options['offer'] * options['p2xValue'];
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				p1Loss = options['offer'] * options['p1yValue'];
				p2Loss = options['request'] * options['p2yValue'];
			} else {
				p1Loss = options['request'] * options['p1yValue'];
				p2Loss = options['offer'] * options['p2yValue'];
			}
		}
		
		// Calculate the potential gain from the request
		if(options['requestUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				p1Gain = options['request'] * options['p1xValue'];
				p2Gain = options['offer'] * options['p2xValue'];
			} else {
				p1Gain = options['offer'] * options['p1xValue'];
				p2Gain = options['request'] * options['p2xValue'];
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				p1Gain = options['request'] * options['p1yValue'];
				p2Gain = options['offer'] * options['p2yValue'];
			} else {
				p1Gain = options['offer'] * options['p1yValue'];
				p2Gain = options['request'] * options['p2yValue'];
			}
		}

		// calculate the potential points
		p1Points = p1InitialPoints + (p1Gain - p1Loss);
		p2Points = p2InitialPoints + (p2Gain - p2Loss);		
		
		// alert("p1InitialPoints: " + p1InitialPoints);
		// alert("p1Gain: " + p1Gain);
		// alert("p1Loss: " + p1Loss);
		// alert("p1Points: " + p1Points);
		// 
		// alert("p2InitialPoints: " + p2InitialPoints);
		// alert("p2Gain: " + p2Gain);
		// alert("p2Loss: " + p2Loss);
		// alert("p2Points: " + p2Points);
		// 
		// alert("p1Points: " + p1Points);
		// alert("p2Points: " + p2Points);
		
		// Display the preview points
		$("#offerFormulationP1Points").html(String(p1Points));
		$("#offerFormulationP2Points").html(String(p2Points));
		
		return true;
	}
	
	function parseValueInput(valueInput, options){
		
		originalValueInput = valueInput;
		
		//Check if input is just digits, if so return value input right away
		if(/^\d+$/.test(valueInput)){
			return valueInput;	
		}
		//replace variables if present
		if(options['offerUnit'] == "x"){
			valueInput = valueInput.replace(/Ox/g, options['offer']);
			valueInput = valueInput.replace(/Oy/g, "0");
		} else {
			valueInput = valueInput.replace(/Ox/g, "0");
			valueInput = valueInput.replace(/Oy/g, options['offer']);
		}
		if(options['requestUnit'] == "x"){
			valueInput = valueInput.replace(/Rx/g, options['request']);
			valueInput = valueInput.replace(/Ry/g, "0");
		} else {
			valueInput = valueInput.replace(/Rx/g, "0");
			valueInput = valueInput.replace(/Ry/g, options['request']);
		}
		if(options['whichPlayer'] == "p1"){
			valueInput = valueInput.replace(/Axo/g, options['p1x']);
			valueInput = valueInput.replace(/Ayo/g, options['p1y']);
			valueInput = valueInput.replace(/Axr/g, options['p2x']);
			valueInput = valueInput.replace(/Ayr/g, options['p2y']);
		} else {
			valueInput = valueInput.replace(/Axo/g, options['p2x']);
			valueInput = valueInput.replace(/Ayo/g, options['p2y']);
			valueInput = valueInput.replace(/Axr/g, options['p1x']);
			valueInput = valueInput.replace(/Ayr/g, options['p1y']);
		}

		//evaluate value expression and return it
		try{
			value = eval(valueInput);
			value = Math.round(value);
		} catch(err){
			msg = "There is an error in one of your value fields!\n\n";
			msg += "You entered: "+ originalValueInput + "\n";
			msg += "Error: Syntax Error";
			alert(msg);
			value = "Error";
		}
		
		return value;
	}
		

</script>
{% endblock %}

{% block bodyid %}tab3{% endblock %}

{% block sectionDivID %}components{% endblock %}

{% block adminContent %}
<div id="breadCrumbs">
<a href="/components">Components</a> » {{ component.name }}
</div>

<h1>Editing {{ component.name }}</h1>
<form action="/nex/submit/" method="post" accept-charset="utf-8" id="componentForm">
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Component Name: </th>
		<td><input type="text" name="componentName" id="componentName" value="{{ component.name }}" size="40" maxlength="200" class="required" title="You must enter a component name."/></td>
	</tr>
	<tr>
		<th>Component Description: </th>
		<td><textarea name="componentDescription" rows="2" cols="43">{{ component.description }}</textarea></td>
	</tr>
</table>
<h2>Points</h2>
<table>
	<tr>
		<td></td>
		<th>Player 1</th>
		<th>Player 2</th>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td rowspan="12">
			<div id="valuePreview">
				<h3>XY Value Tester</h3>
				<p>Use this form to test how many points an offer will get each player. The initial and value fields to the left are used to calculate points.</p>
				<h4>Offer Setup</h4>
				<p>Who is the offer from?</p>
				<p>
				<select name="whichPlayer" id="whichPlayer">
					<option value="p1">Player 1</option>
					<option value="p2">Player 2</option>
				</select>
				</p>
				<p>What will the player give?</p>
				<p>
					<input type="text" name="offerFormulationOffer" id="offerFormulationOffer" class="offerFormulationInputs" value="0" size="4"/>
					<select name="offerFormulationOfferUnit" id="offerFormulationOfferUnit">
						<option>x</option>
						<option>y</option>
					</select>
					<span id="offerFormulationOfferError" class="offerFormulationError"></span>
				</p>
				<p>What does the player want in return?</p>
				<p>
					<input type="text" name="offerFormulationRequest" id="offerFormulationRequest" class="offerFormulationInputs" value="0" size="4"/>
					<select name="offerFormulationRequestUnit" id="offerFormulationRequestUnit">
						<option>y</option>
						<option>x</option>
					</select>
					<span id="offerFormulationRequestError" class="offerFormulationError"></span>
				</p>
				<h4>Points</h4>
				<p>				
				Player 1 would get: <span id="offerFormulationP1Points">--</span><br/>
				Player 2 would get: <span id="offerFormulationP2Points">--</span>
				</p>
				
				<input type="button" name="refreshValues" value="Refresh Points" id="refreshValues">

			</div>
		</td>
	</tr>
	<tr>
		<th>Initial X</th>
		<td><input type="text" name="p1x" value="{{parameters.p1x}}" size="3" id="p1x" class="required integer" title="You must enter an integer value."/></td>
		<td><input type="text" name="p2x" value="{{parameters.p2x}}" size="3" id="p2x" class="required integer" title="You must enter an integer value."/></td>
	</tr>
	<tr>
		<th>Initial Y</th>
		<td><input type="text" name="p1y" value="{{parameters.p1y}}" size="3" id="p1y" class="required integer" title="You must enter an integer value."/></td>
		<td><input type="text" name="p2y" value="{{parameters.p2y}}" size="3" id="p2y" class="required integer" title="You must enter an integer value."/></td>
	</tr>
	<tr>
		<th>X Value</th>
		<td><input type="text" name="p1xValue" value="{{parameters.p1xValue}}" size="20" id="p1xValue" class="required" title="You must enter a value."/></td>
		<td><input type="text" name="p2xValue" value="{{parameters.p2xValue}}" size="20" id="p2xValue" class="required" title="You must enter a value."/></td>
	</tr>
	<tr>
		<th>Y Value</th>
		<td><input type="text" name="p1yValue" value="{{parameters.p1yValue}}" size="20" id="p1yValue" class="required" title="You must enter a value."/></td>
		<td><input type="text" name="p2yValue" value="{{parameters.p2yValue}}" size="20" id="p2yValue" class="required" title="You must enter a value."/></td>
	</tr>
	<tr>
		<th></th>
		<td colspan="2"><a href="#" id="variableListToggle">Toggle Variable List</a></td>
	</tr>
	<tr>
		<th></th>
		<td colspan="2">
			<div id="possibleVariables">
				Use these variables when constructing value formulas. You can also use JavaScript <a href="http://www.google.com/search?q=javascript%20math%20functions">math functions</a>. 
				<br/> <code>Example: Ox * 2</code>
				<br/> <code>Example: 2 + (Axo / 2)</code>
				<br/> <code>Example: Math.pow(Ox,2)</code>
				<table>
					<tr>
						<th>Variable</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>Ox</td>
						<td>The number of X's offered</td>
					</tr>
					<tr>
						<td>Oy</td>
						<td>The number of Y's offered</td>
					</tr>
					<tr>
						<td>Rx</td>
						<td>The number of X's requested</td>
					</tr>
					<tr>	
						<td>Ry</td>
						<td>The number of Y's requested</td>
					</tr>
					<tr>
						<td>Axo</td>
						<td>The number of X's available to the offerer</td>
					</tr>
					<tr>
						<td>Ayo</td>
						<td>The number of Y's available to the offerer</td>
					</tr>
					<tr>
						<td>Axr</td>
						<td>The number of X's available to the requester</td>
					</tr>
					<tr>
						<td>Ayr</td>
						<td>The number of Y's available to the requester</td>
					</tr>
				</table>
			</div>
		</td>
	<tr>
		<th>Replenish X</th>
		<td><input type="text" name="p1xReplenish" value="{{parameters.p1xReplenish}}" size="3" id="p1xReplenish" class="required integer" title="You must enter an integer value."/></td>
		<td><input type="text" name="p2xReplenish" value="{{parameters.p2xReplenish}}" size="3" id="p2xReplenish" class="required integer" title="You must enter an integer value."/></td>
	</tr>
	<tr>
		<th>Replenish Y</th>
		<td><input type="text" name="p1yReplenish" value="{{parameters.p1yReplenish}}" size="3" id="p1yReplenish" class="required integer" title="You must enter an integer value."/></td>
		<td><input type="text" name="p2yReplenish" value="{{parameters.p2yReplenish}}" size="3" id="p2yReplenish" class="required integer" title="You must enter an integer value."/></td>
	</tr>
	<tr>
		<th>Clearing</th>
		<td>
			<select name="p1Clearing">
				<option {% ifequal parameters.p1Clearing "End of exchange opportunity" %}selected="selected"{% endifequal %} >End of exchange opportunity</option>
				<option {% ifequal parameters.p1Clearing "End of pairing" %}selected="selected"{% endifequal %}>End of pairing</option>
			</select>
		</td>
		<td>
			<select name="p2Clearing">
				<option {% ifequal parameters.p2Clearing "End of exchange opportunity" %}selected="selected"{% endifequal %} >End of exchange opportunity</option>
				<option {% ifequal parameters.p2Clearing "End of pairing" %}selected="selected"{% endifequal %}>End of pairing</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>Max X Request</th>
		<td><input type="text" name="p1xMaxRequest" value="{{parameters.p1xMaxRequest}}" size="3" id="p1xMaxRequest" class="required integer" title="You must enter an integer value."/></td>
		<td><input type="text" name="p2xMaxRequest" value="{{parameters.p2xMaxRequest}}" size="3" id="p2xMaxRequest" class="required integer" title="You must enter an integer value."/></td>
	</tr>
	<tr>
		<th>Max Y Request</th>
		<td><input type="text" name="p1yMaxRequest" value="{{parameters.p1yMaxRequest}}" size="3" id="p1yMaxRequest" class="required integer" title="You must enter an integer value."/></td>
		<td><input type="text" name="p2yMaxRequest" value="{{parameters.p2yMaxRequest}}" size="3" id="p2yMaxRequest" class="required integer" title="You must enter an integer value."/></td>
	</tr>
</table>

<!-- <h2>Time</h2>
<table>
	<tr>
		<th>Minutes</th>
		<th>Seconds</th>
	</tr>
	<tr>
		<td><input type="text" name="mins" value="{{parameters.mins}}" size="2"/></td>
		<td><input type="text" name="secs" value="{{parameters.secs}}" size="2"/></td>
	</tr>
</table> -->
{% include "widgets/addWidgets.html" %}
<h2>Options</h2>
<p><input type="checkbox" name="nonBinding" {% if parameters.nonBinding %}checked="checked"{% endif %} /> Non-binding</p>
<p><input type="checkbox" name="showPoints" {% if parameters.showPoints %}checked="checked"{% endif %}/> Show point value</p>
<p>Display Name (Shown to Deciders)<br/><input type="text" name="displayName"  value="{{component.displayName}}" size="25"  id="displayName"  class="required" title="You must enter a display name"/></p>

	<p><input type="hidden" name="comIM" value="{{ component.id }}"/><input type="submit" value="Save Changes" class="buttonSmall"/></p>
	<div id="message">

	</div>
</form>
{% endblock %}