{% extends "expBase.html" %}

{% block extrahead %}
<script src="/site_media/scripts/disableRightClick.js" type="text/currentGainUnit" charset="utf-8"></script>
<script src="/site_media/scripts/jquery/jquery.pack.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/scripts/jquery/jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script src="/site_media/scripts/jquery/jquery.alphanumeric.pack.js" type="text/javascript" ></script>
<script src="/site_media/scripts/jquery/json.js" type="text/javascript" ></script>
<script src="/site_media/scripts/jquery/jquery.color.js" type="text/javascript" ></script>
<script type="text/javascript" src="/site_media/scripts/jquery/jquery.impromptu.1.0.js"></script>


<script type="text/javascript" charset="utf-8">
	// The toJSONString method is removed because otherwise, it shows up as a button with the
	// Impromptu jQuery plug in. See http://jquery.com/plugins/node/813
	// NOTE!: this means that toJSONString can't be used on objects! Not a problem at this
	// point, but this may not be tennnable in the future.
	delete(Object.prototype.toJSONString);

	// Code to run after the page is completely loaded.
	$(document).ready(function() { 
		// Bind widget callbacks
		$("html").bind("widget_timer_event_timeout", function (event) {
			clearTimeout(timeout);
			$("#transactionSummaryMessage").html("You ran out of time.");
			$('#transactionSummaryOfferFromOpponent').css({display:"none"});
			$('#transactionSummaryOfferToOpponent').css({display:"none"});
			$("#transactionSummaryMessage").css({display:"block"});
			showScreen("transactionSummary");
		});
		
	    // bind the submit event of all forms on the page. The server response will be
		// delivered to the processFormResponse() function.
		$('form').ajaxForm({
			success: processFormResponse,
			beforeSubmit: function(){
				$(":submit").attr("disabled","disabled");
			}			
		});
		
		// pNum is either 1 or 2 indicating if, within the current pairing, the player is the 1st or 2nd player
		// It's used when building keys to access nex parameters. e.g. exchangeParametersJSON['p' + pNum + 'x']
		pNum = "{{playerNumber}}";
		
		// The letter identity of the other player in the pairing. 
		opponentIdentity = "{{opponentIdentity}}";
		
		// Bind the input fields of the offerFormulation screen
		// Updates the "This deal would get you" number on the offerFormulation screen
		$('.offerFormulationInputs').numeric();
		$(".offerFormulationInputs").keyup(function(){
			calculatePoints("offerPreview");
		});		
		$("#offerFormulationOfferUnit").change(function(){
			calculatePoints("offerPreview");
		});
		$("#offerFormulationRequestUnit").change(function(){
			calculatePoints("offerPreview");
		});
		
		// counter offer screen fields
		$('.counterOfferFormulationInputs').numeric();
		$(".counterOfferFormulationInputs").keyup(function(){
			calculatePoints("counterOfferPreview");
		});
		$("#counterOfferFormulationOfferUnit").change(function(){
			calculatePoints("counterOfferPreview");
		});
		$("#counterOfferFormulationRequestUnit").change(function(){
			calculatePoints("counterOfferPreview");
		});
		
		// Start polling server to check for opponents
		pollServer();
		
	});

	// Each screen contains a form that submits the user's input to the server.
	// This function processes the server's response and updates the page accordingly.
	function processFormResponse(responseText){
		// Reenable the submit buttons
		$(":submit").removeAttr("disabled");
		// but don't reenable the offer and counter offer submit buttons
		$("#counterOfferFormulationSubmit").attr("disabled","disabled");
		$("#offerFormulationOfferSubmit").attr("disabled","disabled");
		
		// responseText the response returned by the server. It is JSON formatted.
		// Note: parseJSON() is not jQuery, rather it's in json.js from json.org
		responseJSON = responseText.parseJSON();
		examineJSON(responseJSON);
		return;
	}
	
	// This function polls the server with two AJAX requests. The first grabs the location of the current poll process
	// and the second polls the URL resource.
	function pollServer(){
		$.ajax({	url: "/nex/getPollURL/",
					dataType: "json", 
					success: function(pollServer){
						if(pollServer['pollURL'] == "None"){
							setTimeout("pollServer()", 1000);
						} else {
							$.ajax({	url: pollServer['pollURL'], 
										dataType: "json", 
										success: function(responseJSON){
											examineJSON(responseJSON);
											setTimeout("pollServer()", 1000);
										}
									});
						}
					}
				});
	}
	
	function examineJSON(responseJSON){		
		if(responseJSON['redirect']){
			window.location = responseJSON['redirect'];
		}
		if(responseJSON['startTimer']){
			$("html").trigger("widget_timer_event_startTimer");
		}
		if(responseJSON['stopTimer']){
			$("html").trigger("widget_timer_event_stopTimer");
		}
		if(responseJSON['restartTimer']){
			$("html").trigger("widget_timer_event_resetTimer");
		}
		if(responseJSON['showTime']){
			$("html").trigger("widget_timer_event_scheduleTimer", [responseJSON['showTime']]);
		}
		if(responseJSON['incomingOffer']){
			$('.currentGain').html(String(responseJSON['incomingOffer']['offer']));
			$('.currentGainUnit').html(String(responseJSON['incomingOffer']['offerUnit']).toUpperCase());
			$('.currentLoss').html(String(responseJSON['incomingOffer']['request']));
			$('.currentLossUnit').html(String(responseJSON['incomingOffer']['requestUnit']).toUpperCase());			
			calculatePoints("newOffer");
		}
		if(responseJSON['outgoingOffer']){
			$('.currentGain').html(String(responseJSON['outgoingOffer']['request']));
			$('.currentGainUnit').html(String(responseJSON['outgoingOffer']['requestUnit']).toUpperCase());
			$('.currentLoss').html(String(responseJSON['outgoingOffer']['offer']));
			$('.currentLossUnit').html(String(responseJSON['outgoingOffer']['offerUnit']).toUpperCase());
			calculatePoints("newOffer");
		}
		if(responseJSON['transactionType']){
			$('.transactionSummaryMessages').css({display:"none"});
			$('#transactionSummary_' + responseJSON['transactionType']).css({display:"block"});
		}
		if(responseJSON['nonBindingOfferType']){
			$('#nonBindingConfirmationOfferFromOpponent').css({display:"none"});
			$('#nonBindingConfirmationOfferToOpponent').css({display:"none"});
			$('#nonBindingConfirmation' + responseJSON['nonBindingOfferType']).css({display:"block"});
		}
		if(responseJSON['processor'] == "makeOfferButton"){
			calculatePoints("offerPreview");
		}
		if(responseJSON['setX'] >= 0){
			setTimeout('setXandY("X","' + responseJSON["setX"] + '")', 0);
		}
		if(responseJSON['setY'] >= 0){
			setTimeout('setXandY("Y","' + responseJSON["setY"] + '")', 500);
		}
		if(responseJSON['initBank'] >= 0){
			$("html").trigger("widget_bank_event_set", [responseJSON['initBank']]);
		}
		if(responseJSON['updateBank'] >= 0){
			oldPoints = responseJSON['updateBank'];
			currentPoints = $(".currentPoints:first").html();
			updatedPoints = parseInt(oldPoints) + parseInt(currentPoints);
			setTimeout('$("html").trigger("widget_bank_event_set", [updatedPoints])', 1000);
		}
		if(responseJSON['insufficientFunds'] == true){
			$('#incomingOfferInsufficientFunds').css({display:"block"});
			$('#incomingOfferAcceptButton').attr({disabled:"disabled"});
		} else {
			$('#incomingOfferInsufficientFunds').css({display:"none"});
			$('#incomingOfferAcceptButton').removeAttr("disabled");
		}
		if(responseJSON['resetFormulationForms']){
			$(".offerError").html("");
			$(".requestError").html("");
			$("#counterOfferFormulationOffer").val("");
			$("#counterOfferFormulationRequest").val("");
			$("#counterOfferFormulationOfferUnit").val("x");
			$("#counterOfferFormulationRequestUnit").val("y");
			$("#offerFormulationOffer").val("");
			$("#offerFormulationRequest").val("");
			$("#offerFormulationOfferUnit").val("x");
			$("#offerFormulationRequestUnit").val("y");
			$("#counterOfferFormulationSubmit").attr("disabled","disabled");
			$("#offerFormulationOfferSubmit").attr("disabled","disabled");
		}
		if(responseJSON['showDialog']){
			showDialog(responseJSON['showDialog']);
		}
		if(responseJSON['showScreen']){
			showScreen(responseJSON['showScreen']);
		}
	}
	
	function setXandY(letter, amount){
		letter = letter.toUpperCase();
		$('#available' + letter).html(amount);
		$("#available" + letter).css("backgroundColor","yellow");
		$("#available" + letter).animate({ backgroundColor: "#FFF" }, {queue:false, duration:2000});
	}
	
	// This function displays only the specified screen. screenName should be the the div ID
	// of the desired screen.
	function showScreen(screenName){
		// Turn off all the screens
		$(".exchangeScreen").css("display", "none");
		// turn on the specified screen
		$("#" + screenName).css("display", "block");
		return;
	}
	
	// These functions set up and trigger the appropriate dialog screens
	function showDialog(dialogName){
		if(dialogName == "incomingOffer"){
			msg  = "You've received an offer from player " + opponentIdentity;
			$.prompt(msg, { buttons: { "View Offer": "View Offer", "Do Not View Offer": "Do Not View Offer" }, 
							callback: incomingOfferDialogAction, 
							container: "html",
							opacity: 0.8,
							show:"fadeIn",
							overlayspeed: 0,
							promptspeed: 0
							});	
		}
		if(dialogName == "offerDeclined"){
			msg  = "Player " + opponentIdentity + " chose not to look at your offer.";
			$.prompt(msg, { callback: offerDeclinedDialogAction, 
							container: "html",
							opacity: 0.8,
							show:"fadeIn",
							overlayspeed: 0,
							promptspeed: 0
							});	
		}
	}
	
	function incomingOfferDialogAction(buttonValue, msg){
		if(buttonValue == "View Offer"){
			// Check if the transactionSummary screen is showing. If so
			// the other player must have canceled the offer while waiting.
			if($("#transactionSummary").css("display") != "block"){
				showScreen("incomingOffer");
			}
		} else {
			// Send message that the player chose not to see the offer
			$.ajax({url: "/nex/incomingOfferDeclinedToView/", 
					dataType: "json", 
					success: 	function(responseJSON){
									examineJSON(responseJSON);
								}
			});
		}
	}
	function offerDeclinedDialogAction(buttonValue, msg){
		showScreen("offerFormulation");
	}
	
	// Updates the "This deal would get you" number on the offerFormulation screen
	// Called on keyup of the input fields of the offerFormulation screen
	function calculatePoints(offerType){		
		// Clear the error if present
		$(".offerError").html("");
		$(".requestError").html("");
				
		// exchangeParametersJSON contains the contents of the Nex component object
		exchangeParametersJSON = '{{exchangeParametersJSON}}'.parseJSON();
		pNum = "{{playerNumber}}";
		
		if(offerType == "offerPreview"){
			offer = $("#offerFormulationOffer").val();
			request = $("#offerFormulationRequest").val();
			offerUnit = $("#offerFormulationOfferUnit").val();
			requestUnit = $("#offerFormulationRequestUnit").val();
			divPrefix = "offer"; //used in the error checking
		} else if(offerType == "counterOfferPreview"){
			offer = $("#counterOfferFormulationOffer").val();
			request = $("#counterOfferFormulationRequest").val();
			offerUnit = $("#counterOfferFormulationOfferUnit").val();
			requestUnit = $("#counterOfferFormulationRequestUnit").val();
			divPrefix = "counterOffer"; //used in the error checking
		} else if(offerType == "newOffer"){
			offer = $(".currentLoss:first").html();
			offerUnit = $(".currentLossUnit:first").html();
			offerUnit.toLowerCase();
			request = $(".currentGain:first").html();
			requestUnit = $(".currentGainUnit:first").html();
			requestUnit.toLowerCase();
		}

		// Set up all our working variables
		options = {
			offerType: offerType,
			whichPlayer: ('p' + pNum),
			offer: offer,
			request: request,
			offerUnit: offerUnit,
			requestUnit: requestUnit,
			p1x: exchangeParametersJSON['p1x'],
			p2x: exchangeParametersJSON['p2x'],
			p1y: exchangeParametersJSON['p1y'],
			p2y: exchangeParametersJSON['p2y'],
			p1xValue: exchangeParametersJSON['p1xValue'],
			p2xValue: exchangeParametersJSON['p2xValue'],
			p1yValue: exchangeParametersJSON['p1yValue'],
			p2yValue: exchangeParametersJSON['p2yValue'],
			p1xMaxRequest: exchangeParametersJSON['p1xMaxRequest'],
			p1yMaxRequest: exchangeParametersJSON['p1yMaxRequest'],
			p2xMaxRequest: exchangeParametersJSON['p2xMaxRequest'],
			p2yMaxRequest: exchangeParametersJSON['p2yMaxRequest']
		}
		
		// update available X and Y with what's currently displayed
		if(pNum == 1){
			options['p1x'] = $("#availableX").html();
			options['p1y'] = $("#availableY").html();
		} else {
			options['p2x'] = $("#availableX").html();
			options['p2y'] = $("#availableY").html();
		}
		
		options['p1xValue'] = parseValueInput(options['p1xValue'], options);
		options['p1yValue'] = parseValueInput(options['p1yValue'], options);
		options['p2xValue'] = parseValueInput(options['p2xValue'], options);
		options['p2yValue'] = parseValueInput(options['p2yValue'], options);
		
		// If any of the value fields have errors, update the point value table and return
		if(options['p2yValue'] == "Error" || options['p2xValue'] == "Error" || options['p1yValue'] == "Error" || options['p1xValue'] == "Error"){
			$("#offerFormulationP1Points").html("--");
			$("#offerFormulationP2Points").html("--");
			return false;
		}
		
		// Calculate the current number of points held by the player this round
		p1InitialPoints = (options['p1x'] * options['p1xValue']) + (options['p1y'] * options['p1yValue']);
		p2InitialPoints = (options['p2x'] * options['p2xValue']) + (options['p2y'] * options['p2yValue']);

		// Error Check Offer input field
		if(options['offerUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['offer']) > parseInt(options['p1x'])) {
					$("#"+divPrefix+"FormulationOffer").val(options['p1x']);
					options['offer'] = options['p1x'];
					$(".offerError").html("You only have " + options['p1x'] + " " + options['offerUnit']);
				}
			} else {
				if(parseInt(options['offer']) > parseInt(options['p2x'])) {
					$("#"+divPrefix+"FormulationOffer").val(options['p2x']);
					options['offer'] = options['p2x'];
					$(".offerError").html("You only have " + options['p2x'] + " " + options['offerUnit']);
				}
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['offer']) > parseInt(options['p1y'])) {
					$("#"+divPrefix+"FormulationOffer").val(options['p1y']);
					options['offer'] = options['p1y'];
					$(".offerError").html("You only have " + options['p1y'] + " " + options['offerUnit']);
				}
			} else {
				if(parseInt(options['offer']) > parseInt(options['p2y'])) {
					$("#"+divPrefix+"FormulationOffer").val(options['p2y']);
					options['offer'] = options['p2y'];
					$(".offerError").html("You only have " + options['p2y'] + " " + options['offerUnit']);
				}
			}
		}

		
		// Error Check Request input field
		if(options['requestUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['request']) > parseInt(options['p1xMaxRequest'])) {
					$("#"+divPrefix+"FormulationRequest").val(options['p1xMaxRequest']);
					options['request'] = options['p1xMaxRequest'];
					$(".requestError").html("You can only request " + options['p1xMaxRequest'] + " " + options['requestUnit'] + " or less");
				}
			} else {
				if(parseInt(options['request']) > parseInt(options['p2xMaxRequest'])) {
					$("#"+divPrefix+"FormulationRequest").val(options['p2xMaxRequest']);
					options['request'] = options['p2xMaxRequest'];
					$(".requestError").html("You can only request " + options['p2xMaxRequest'] + " " + options['requestUnit'] + " or less");
				}
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				if(parseInt(options['request']) > parseInt(options['p1yMaxRequest'])) {
					$("#"+divPrefix+"FormulationRequest").val(options['p1yMaxRequest']);
					options['request'] = options['p1yMaxRequest'];
					$(".requestError").html("You can only request " + options['p1yMaxRequest'] + " " + options['requestUnit'] + " or less");
				}
			} else {
				if(parseInt(options['request']) > parseInt(options['p2yMaxRequest'])) {
					$("#"+divPrefix+"FormulationRequest").val(options['p2yMaxRequest']);
					options['request'] = options['p2yMaxRequest'];
					$(".requestError").html("You can only request " + options['p2yMaxRequest'] + " " + options['requestUnit'] + " or less");
				}
			}
		}
		
		// Calculate the loss from offering
		if(options['offerUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				p1Loss = options['offer'] * options['p1xValue'];
				p2Loss = options['request'] * options['p2xValue'];
				
			} else {
				p1Loss = options['request'] * options['p1xValue'];
				p2Loss = options['offer'] * options['p2xValue'];
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				p1Loss = options['offer'] * options['p1yValue'];
				p2Loss = options['request'] * options['p2yValue'];
			} else {
				p1Loss = options['request'] * options['p1yValue'];
				p2Loss = options['offer'] * options['p2yValue'];
			}
		}
		
		// Calculate the potential gain from the request
		if(options['requestUnit'] == "x"){
			if(options['whichPlayer'] == "p1"){
				p1Gain = options['request'] * options['p1xValue'];
				p2Gain = options['offer'] * options['p2xValue'];
			} else {
				p1Gain = options['offer'] * options['p1xValue'];
				p2Gain = options['request'] * options['p2xValue'];
			}
		} else {
			if(options['whichPlayer'] == "p1"){
				p1Gain = options['request'] * options['p1yValue'];
				p2Gain = options['offer'] * options['p2yValue'];
			} else {
				p1Gain = options['offer'] * options['p1yValue'];
				p2Gain = options['request'] * options['p2yValue'];
			}
		}

		// calculate the potential points
		p1Points = p1InitialPoints + (p1Gain - p1Loss);
		p2Points = p2InitialPoints + (p2Gain - p2Loss);		
		
		p1Points_justExchange = p1Gain - p1Loss;
		p2Points_justExchange = p2Gain - p2Loss;		
		
		// Update the points in the html
		points = String(eval("p" + pNum + "Points"));
		points_justExchange = String(eval("p" + pNum + "Points_justExchange"));
		if(offerType == "newOffer"){
			$(".currentPoints").html(points_justExchange);
			$("#transactionSummaryPoints").val(points);
		} else {
			$(".pointsPreview").html(points_justExchange);
		}
		
		// enable the offer and counter offer submit buttons if an offer is valid
		if(options['offer'].length  > 0 && options['request'].length > 0){
			$("#offerFormulationOfferSubmit").removeAttr("disabled");
			$("#counterOfferFormulationSubmit").removeAttr("disabled");
		} else {
			$("#counterOfferFormulationSubmit").attr("disabled","disabled");
			$("#offerFormulationOfferSubmit").attr("disabled","disabled");
		}
		
		return points;
	}
	
	function parseValueInput(valueInput, options){
		
		originalValueInput = valueInput;
		
		//Check if input is just digits, if so return value input right away
		if(/^\d+$/.test(valueInput)){
			return valueInput;	
		}
		//replace variables if present
		if(options['offerUnit'] == "x"){
			valueInput = valueInput.replace(/Ox/g, options['offer']);
			valueInput = valueInput.replace(/Oy/g, "0");
		} else {
			valueInput = valueInput.replace(/Ox/g, "0");
			valueInput = valueInput.replace(/Oy/g, options['offer']);
		}
		if(options['requestUnit'] == "x"){
			valueInput = valueInput.replace(/Rx/g, options['request']);
			valueInput = valueInput.replace(/Ry/g, "0");
		} else {
			valueInput = valueInput.replace(/Rx/g, "0");
			valueInput = valueInput.replace(/Ry/g, options['request']);
		}
		if(options['whichPlayer'] == "p1"){
			valueInput = valueInput.replace(/Axo/g, options['p1x']);
			valueInput = valueInput.replace(/Ayo/g, options['p1y']);
			valueInput = valueInput.replace(/Axr/g, options['p2x']);
			valueInput = valueInput.replace(/Ayr/g, options['p2y']);
		} else {
			valueInput = valueInput.replace(/Axo/g, options['p2x']);
			valueInput = valueInput.replace(/Ayo/g, options['p2y']);
			valueInput = valueInput.replace(/Axr/g, options['p1x']);
			valueInput = valueInput.replace(/Ayr/g, options['p1y']);
		}

		//evaluate value expression and return it
		try{
			value = eval(valueInput);
			value = Math.round(value);
		} catch(err){
			msg = "There is an error in one of your value fields!\n\n";
			msg += "Please report this to the experimenter RIGHT NOW!";
			alert(msg);
			value = "Error";
		}
		
		return value;
	}

</script>

{% endblock %}

{% block actionArea %}
<div id="checkForOpponent" class="exchangeScreen">
	<br/><br/><br/><br/>
	<h1>You are about to exchange with Player {{opponentIdentity}}</h1>
	<br/><br/><br/><br/>
	<h3>Please wait...</h3>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
</div>
<div id="makeOfferButton" style="display:none;" class="exchangeScreen">
	<br/><br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/><br/><br/><br/>
	<form action="/nex/makeOfferButton/" method="post" accept-charset="utf-8">
		<input type="submit" name="makeOfferSubmit" value="Click to Begin" class="buttonBig"/>
	</form>
</div>
<div id="offerFormulation" style="display:none;" class="exchangeScreen">
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<form action="/nex/offerFormulation/" method="post" accept-charset="utf-8" autocomplete="off">
		<p>What will you give?</p>
		<p>
			<input type="text" name="offerFormulationOffer" id="offerFormulationOffer" class="offerFormulationInputs" value="" size="4" maxlength="4"/>
			<select name="offerFormulationOfferUnit" id="offerFormulationOfferUnit">
				<option>x</option>
				<option>y</option>
			</select>
			<span class="offerError"></span>
		</p>
		<p>What do you want in return?</p>
		<p>
			<input type="text" name="offerFormulationRequest" id="offerFormulationRequest" class="offerFormulationInputs" value="" size="4" maxlength="4"/>
			<select name="offerFormulationRequestUnit" id="offerFormulationRequestUnit">
				<option>y</option>
				<option>x</option>
			</select>
			<span class="requestError"></span>
		</p>
		<br/>
		<p>This deal would get you: <b><span class="pointsPreview">-</span></b> points</p>
		<input type="submit" name="offerFormulationOfferSubmit" value="Offer" class="buttonBig" id="offerFormulationOfferSubmit" disabled="disabled"/>
	</form>
</div>
<div id="counterOfferFormulation" style="display:none;" class="exchangeScreen">
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<form action="/nex/counterOfferFormulation/" method="post" accept-charset="utf-8" autocomplete="off">
		<p>
			Player {{opponentIdentity}} offered you 
			<strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s 
			 for 
			<strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s. 
			<br/>This deal would get you: <b><span class="currentPoints">-</span></b> points.
		</p>
		<p>Enter your counter offer below.</p>
		<p>What will you give?</p>
		<p>
			<input type="text" name="counterOfferFormulationOffer" id="counterOfferFormulationOffer" class="counterOfferFormulationInputs" value="" size="4" maxlength="4"/>
			<select name="counterOfferFormulationOfferUnit" id="counterOfferFormulationOfferUnit">
				<option>x</option>
				<option>y</option>
			</select>
			<span class="offerError"></span>
		</p>
		<p>What do you want in return?</p>
		<p>
			<input type="text" name="counterOfferFormulationRequest" id="counterOfferFormulationRequest" class="counterOfferFormulationInputs" value="" size="4" maxlength="4"/>
			<select name="counterOfferFormulationRequestUnit" id="counterOfferFormulationRequestUnit">
				<option>y</option>
				<option>x</option>
			</select>
			<span class="requestError"></span>
		</p>
		<br/>
		<p>This deal would get you: <b><span class="pointsPreview">-</span></b> points</p>
		<input type="submit" name="counterOfferFormulationSubmit" value="Cancel" class="buttonBig"/>
		<input type="submit" name="counterOfferFormulationSubmit" value="Counter Offer" class="buttonBig" id="counterOfferFormulationSubmit" disabled="disabled"/>
	</form>
</div>
<div id="waitingScreen" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/>
	<h3>Please wait for player {{opponentIdentity}}</h3>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
	<!-- Commented out because canceling is not fully supported yet. 
		<p>
		<form action="/nex/waitingScreen/" method="post" accept-charset="utf-8">
			<input type="submit" name="waitingScreenCancel" value="Cancel" class="buttonBig"/>
		</form>
	</p> -->
</div>
<div id="confirmCancel" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/>
	<p>Are you sure you want to cancel your offer?</p>
	<p>
		<form action="/nex/confirmCancel/" method="post" accept-charset="utf-8">
			<input type="submit" name="confirmCancelSubmit" value="No" class="buttonBig"/> 
			<input type="submit" name="confirmCancelSubmit" value="Yes" class="buttonBig"/>
		</form>
	</p>
</div>
<div id="incomingOffer" style="display:none;" class="exchangeScreen">
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/><br/>
	<p>Player {{opponentIdentity}} offered you 
		<strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s 
		 for 
		<strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s. 
	</p>
	<p>This deal would get you: <b><span class="currentPoints">-</span></b> points</p>
	<div id="incomingOfferInsufficientFunds" style="display:none;">You don't have enough to fulfill Player {{opponentIdentity}}'s request!</div>
	<p>
		<form action="/nex/incomingOffer/" method="post" accept-charset="utf-8">
			<input type="submit" name="incomingOfferSubmit" value="Accept" class="buttonBig" id="incomingOfferAcceptButton"/> 
			<input type="submit" name="incomingOfferSubmit" value="Counter Offer" class="buttonBig"/>
			<input type="submit" name="incomingOfferSubmit" value="End Round" class="buttonBig"/>
		</form>	
	</p>
</div>
<div id="confirmEndRound" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/>
	<p>Are you sure you want to end this round of exchange?</p>
	<p>
		<form action="/nex/confirmEndRound/" method="post" accept-charset="utf-8">
			<input type="submit" name="confirmEndRoundSubmit" value="No" class="buttonBig"/> 
			<input type="submit" name="confirmEndRoundSubmit" value="Yes" class="buttonBig"/>
		</form>	
	</p>
</div>
<div id="nonBindingConfirmation" style="display:none;" class="exchangeScreen">
		<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/>	
	<div id="nonBindingConfirmationOfferFromOpponent" style="display:none;">
		You accepted player {{opponentIdentity}}'s offer of <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s 
		in exchange for <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s.
		<br/><br/>
		Do you want to follow through on your part of the deal<br/> 
		and give <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s 
		to player {{opponentIdentity}}?
	</div>
	<div id="nonBindingConfirmationOfferToOpponent" style="display:none;">
		You accepted player {{opponentIdentity}}'s offer of <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s 
		in exchange for <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s.
		<br/><br/>
		Do you want to follow through on your part of the deal<br/> 
		and give <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s 
		to player {{opponentIdentity}}?
	</div>
	<br/>
	<p>
		<form action="/nex/nonBindingConfirmation/" method="post" accept-charset="utf-8">
			<input type="submit" name="nonBindingConfirmationSubmit" value="No" class="buttonBig"/> 
			<input type="submit" name="nonBindingConfirmationSubmit" value="Yes" class="buttonBig"/>
		</form>
	</p>
</div>
<div id="nonBindingWaitingScreen" style="display:none;" class="exchangeScreen">
	<br/><br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/>
	<h3>Please wait for player {{opponentIdentity}}</h3>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
</div>
<div id="transactionSummary" style="display:none;" class="exchangeScreen">
	<br/><br/>
	<h1>Exchanging with Player {{opponentIdentity}}</h1>
	<br/><br/>
	<div id="transactionSummary_youEndedTheRound" class="transactionSummaryMessages">
		You ended the round.
	</div>
	<div id="transactionSummary_opponentEndedRound" class="transactionSummaryMessages">
		After seeing your offer, the other player ended the round.
	</div>
	<div id="transactionSummary_youCanceledOffer" class="transactionSummaryMessages">
		You canceled your offer.
	</div>
	<div id="transactionSummary_opponentCanceledOffer" class="transactionSummaryMessages">
		The other player canceled the offer before you responded.
	</div>
	<div id="transactionSummary_youAccepted" class="transactionSummaryMessages">
		You accepted player {{opponentIdentity}}'s offer. Player {{opponentIdentity}} offered <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>(s) 
		in exchange for <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>(s).
		<br/>
		You received <strong><span class="currentPoints">-</span></strong>s 
		points for this deal.
	</div>
	<div id="transactionSummary_opponentAccepted" class="transactionSummaryMessages">
		Player {{opponentIdentity}} accepted your offer. You offered <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>(s)  
		in exchange for <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>(s).
		<br/>
		You received <strong><span class="currentPoints">-</span></strong>s 
		points for this deal.
	</div>
	<div id="transactionSummary_youRenegedOpponentReneged" class="transactionSummaryMessages">
		<p>Player {{opponentIdentity}} chose not to follow through on the deal
			and did NOT give you <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s.</p>
		<p>You chose not to follow through on the deal
			and did NOT give player {{opponentIdentity}} <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s.</p>
	</div>
	<div id="transactionSummary_youRenegedOpponentFollowedThrough" class="transactionSummaryMessages">
		<p>Player {{opponentIdentity}} followed through on the deal 
			and gave you <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s.</p>
		<p>You chose not to follow through on the deal
			and did NOT give player {{opponentIdentity}} <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s.</p>
	</div>
	<div id="transactionSummary_youFollowedThroughOpponentReneged" class="transactionSummaryMessages">
		<p>Player {{opponentIdentity}} chose not to follow through on the deal
			and did NOT give you <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s.</p>
		<p>You followed through on the deal
			and gave player {{opponentIdentity}} <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s.</p>
	</div>
	<div id="transactionSummary_youFollowedThroughOpponentFollowedThrough" class="transactionSummaryMessages">
		<p>Player {{opponentIdentity}} followed through on the deal 
			and gave you <strong><span class="currentGain">-</span> <span class="currentGainUnit">-</span></strong>s.</p>
		<p>You followed through on the deal
			and gave player {{opponentIdentity}} <strong><span class="currentLoss">-</span> <span class="currentLossUnit">-</span></strong>s.</p>
	</div>
	<p>
		<form action="/nex/transactionSummary/" method="post" accept-charset="utf-8">
			<input type="submit" name="transactionSummarySubmit" value="Continue" class="buttonBig"/>
			<input type="hidden" name="transactionSummaryPoints" value="-" id="transactionSummaryPoints">
		</form>
	</p>
</div>
<div id="nextRoundCountdown" style="display:none;" class="exchangeScreen">
	<h1>Starting next round shortly</h1>
	<img src="/site_media/images/indicatorMed.gif" width="32" height="32" alt="IndicatorMed">
</div>
{% endblock %}

{% block rightCol %}
	{{widgets}}
{% endblock %}

{% block bottomBar %}

<div id="currentXBox">
	<p>Total X</p>
	<div id="availableX" class="largePoints">-</div>
	{% if showXYValue %}
		<div id="valueOfEachX">
			Each X is worth {{xValue}} points
		</div>	
	{% endif %}

</div>
<div id="currentYBox">
	<p>Total Y</p>
	<div id="availableY" class="largePoints">-</div>
	{% if showXYValue %}
	<div id="valueOfEachX">
		Each Y is worth {{yValue}} points
	</div>	
	{% endif %}
</div>

{% endblock %}