<!-- Start Bank Widget {{counter}}-->
<script src="/site_media/scripts/jquery/jquery.color.js" type="text/javascript" ></script>
<script type="text/javascript" charset="utf-8">

var widget_bank_counter = 0;

function widget_bank_set(newPointVal){
	
	$('#widget_bank_points').html(newPointVal);
	$("#widget_bank_points").css("backgroundColor","yellow");
	$("#widget_bank_points").animate({ backgroundColor: "#FFF" }, {queue:false, duration:2000});
	return true;
	
}

function widget_bank_get(){
	return $('#widget_bank_points').text();
}

</script>

<div class="widget">
	<div class="widget_bank">
		<div class="widget_bank_label widget_label">
			{{widgetParams.topLabel}}
		</div>
		<div id="widget_bank_points">1010</div>
	</div>
</div>
<!-- End Bank Widget {{counter}}-->